<plugin id="com.example.smsreader" version="1.0.0">
    <name>SmsReader</name>
    <description>Plugin para leer SMS</description>
    <license>Apache-2.0</license>
    <keywords>cordova, plugin, sms</keywords>
    
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_SMS" />
            <uses-permission android:name="android.permission.RECEIVE_SMS" />
            <uses-permission android:name="android.permission.READ_CONTACTS" />
            <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            
        </config-file>
    </platform>

    <platform name="ios">
        <!-- En iOS no podemos leer SMS directamente debido a restricciones -->
        <warning>iOS no permite la lectura de SMS debido a políticas de privacidad.</warning>
    </platform>

    <js-module src="www/smsreader.js">
        <clobbers target="cordova.plugins.smsreader"/>
    </js-module>
</plugin>